streamlit
pandas
numpy
openpyxl # 操，读xlsx文件需要这个
streamlit-option-menu
Pillow # 操，处理图片需要这个
alibabacloud_ocr_api20210707 # 操，阿里云OCR的傻逼SDK
alibabacloud_tea_openapi
alibabacloud_tea_util
XlsxWriter # 操，写xlsx文件需要这个
chardet # 操，识别邮件编码需要这个
PyMuPDF # 操，读PDF需要这个，也叫 fitz
requests # 操，调DeepSeek API需要这个
